.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 400px;

  h1 {
    font-size: 2.5em;
    line-height: 40px;
    text-align: center;
  }

  .rpsls-buttons {
    display: flex;
    gap: 1em;

    button {
      background-color: #C84B31;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      font-size: 2em;
      padding: 10px 15px;
      text-shadow: #000 1px 1px 10px;

      &.selected {
        background-color: #8F1D14;
      }

      &:hover {
        background-color: #8F1D14;
      }
    }
  }

  .rpsls-selection {
    background-color: #1B120F;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;

    p {
      font-size: 1.3em;
      margin: 15px 0;
    }

    .loading {
      align-items: center;
      display: flex;
      gap: 1em;
      margin-bottom: 15px;

      p {
        margin: 0;
      }

      img {
        width: 20px;
      }
    }
  }

  .winner-message {
    background-color: #1B120F;
    border-radius: 6px;
    font-size: 2em;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
  }

  .restart-game {
    margin-top: 20px;

    button {
      background-color: #C84B31;
      border-radius: 6px;
      border: none;
      font-size: 1.5em;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: #8F1D14;
      }
    }
  }
}
